
table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.error-label {
    color:#FF0000;
}

.form-item{
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 5px;
}