<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Users List</h1>
<a href="add">Add New User</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Login</th>
            <th>Password</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.password}">...</td>
        </tr>
    </table>
</div>
</body>
</html>